@{
    ViewData["Title"] = "Presentación del Grupo";
}

<h2>Presentación del Grupo</h2>

<p>Integrante 1: Diego - Hobbies: Videojuegos, Series, Pasear</p>

<p>Integrante 2: Gregory - Hobbies: Salir en moto, Ejercicio, Salir con amigos</p>

<p>Integrante 3: Reynaldo - Hobbies: Gym, Correr, Música</p>
